* {
  box-sizing: border-box;
}

:root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  height: 100%;
}

#root {
  height: 100%;
}
